@import "tailwindcss";

/* -------------------------------
   Theme Configuration
--------------------------------*/
@theme {
  /* Breakpoints */
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;

  /* Colors - Background */
  --color-bg-0: #ffffff;
  --color-bg-1: #f5f5f5;
  --color-bg-2: #f1f0f1;
  --color-divider: #e6e6e6;

  /* Colors - Text */
  --color-text-default: #37352f;
  --color-text-secondary: #898986;
  --color-text-tertiary: #acaba9;
  --color-text-disabled: #d5d5d4;

  /* Colors - Main */
  --color-primary: #0d99ff;
}

/* -------------------------------
   Base Styles & Variables
--------------------------------*/
@layer base {
  :root {
    /* Typography Variables */
    --text-h1: 32px;
    --text-h2: 24px;
    --text-h3: 20px;
    --text-body-16: 16px;
  }

  html,
  body {
    background-color: var(--color-bg-0);
    color: var(--color-text-default);
  }

  /* Dark Mode Overrides */
  .dark {
    /* Background */
    --color-bg-0: #161616;
    --color-bg-1: #232323;
    --color-bg-2: #1c1c1c;
    --color-divider: #2e2e2e;

    /* Text */
    --color-text-default: #ffffff;
    --color-text-secondary: rgba(255, 255, 255, 0.97);
    --color-text-tertiary: #ededed;
    --color-text-disabled: #ffffff;

    /* Main */
    --color-primary: #0d99ff;
  }

  .no-transition,
  .no-transition *,
  .no-transition *::before,
  .no-transition *::after {
    transition: none !important;
    animation: none !important;
  }

  h1 {
    font-size: var(--text-h1);
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.021em; /* Converted -2.1% */
  }
  h2 {
    font-size: var(--text-h2);
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.019em; /* Converted -1.9% */
  }
  h3 {
    font-size: var(--text-h3);
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.017em; /* Converted -1.7% */
  }
  p {
    font-size: var(--text-body-16);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em; /* Converted -1.1% */
  }

  .focus-ring {
    @apply outline-none transition-shadow duration-200;
  }

  .focus-ring:focus-visible {
    @apply ring-2 ring-primary ring-offset-2;
  }
}
